<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>Barbershop</title>	
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
  
  
</head>
<body> 
      <nav>
    <div class="logo-flex-wrapper">
      <a href="/" class="logo">~ BEN'S BARBER SHOP ~</a>
    </div>
    <div class="hamburger">
      <div id="firstLine" class="line"></div>
      <div id="secondLine" class="line"></div>
      <div id="thirdLine" class="line"></div>
    </div>
    <ul class="nav-links">
		<%console.log(url)%>
		<% if (url == "/" ){%>
      <li><a href="#header" class="scroll-to">Home</a></li>
      <li><a href="#ourTeam" class="scroll-to">Our Team</a></li>
	  <li><a href="#gallery" class="scroll-to">Gallery</a></li>
	  <li><a href="#services" class="scroll-to">Services</a></li>
      <li><a href="#footer" class="scroll-to">Contact</a></li>	
		<%} else{%>
		
	  <li><a href="/#header" class="">Home</a></li>
      <li><a href="/#ourTeam" class="">Our Team</a></li>
      <li><a href="/gallery" class="">Gallery</a></li>
	  <li><a href="/#services" class="scroll-to">Services</a></li>
      <li><a href="#footer" class="scroll-to">Contact</a></li>
	 <%}%>	
    </ul>
  </nav>