<%- include ("./partials/header")%>

  
  
  <div class="sections">
      <section id="header" class="top-section">
        <img class="top-section_img" src="https://avatars.mds.yandex.net/get-altay/1881734/2a0000016d43f5fbab5b1226a560ed5b7a9c/XXL">
        <div class="flex-cover-header">
          <div class="main-title-box">
          <h4 class="header-subtitle">MAKING YOU <br> <span class="sub-title-span">LOOK AWESOME</span></h4>
           <h3 class="header-title">Book your appointment now <br> to avoid waiting</h3>
          <button class="book-now-btn btn"><span class="btnText"><a href="/booking">BOOK NOW</a> </span><div class="hoverEffectBox"></div></button>
          </div>  
        </div>
      </section>
    

    
 <section id="ourPlace" class="info-section-ourPlace">
      
      <div class="info-text full-whide">
        <div class="article-flex-cover">
          <h3 class="title"> Our Story</h3>
        <div class="separator"></div>
                  <div class="views">    
        <div class="view"><img src="https://i03.fotocdn.net/s121/8b7848b01cc8deaf/public_pin_l/2771257720.jpg"  alt="view1"></div>
        <div class="view"><img src="https://avatars.mds.yandex.net/get-altay/813485/2a0000015ebd4f5bac8857d8cc8557ecf3f3/XXL" alt="view2"></div>
                  <div class="view"><img src="https://arxip.com/resize/object_detail/0fa7/zon/zona-resepshn-f_dizayn-in_fa7.jpg" alt="view3"></div>
  </div>
        <div class="text-wrapper">
                  <h4 class="about">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias id dicta suscipit fugiat dolores consequuntur asperiores neque rem laborum tenetur officiis ad, vitae recusandae esse. Quos dolore in aperiam sequi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias id dicta suscipit fugiat dolores consequuntur asperiores neque rem laborum tenetur officiis ad, vitae recusandae esse. Quos dolore in aperiam sequi.</h4>
        </div>
          <div class="separator_big"></div>
        </div>
      </div>
         

        </section> 
    
    
    
    
      <section id="ourTeam" class="our-team-section">
        <div class="section-title">
           <h3 class="our-team-title title">Our Team</h3> 
          <div class="separator"></div>
        </div>
        <div class="person">
          <img src="https://cdn.hackaday.io/images/1373751501627096185.jpeg" alt="person-photo" class="person-photo">
          <div class="about-person">
            <h4 class="name">Albert Nickson1</h4>
            <div class="separator_small"></div>
            <p class="about-person-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae voluptates, asperiores aliquam quo corporis qui quam aut</p>   
          </div>
        </div>
            <div class="person">
          <img src="https://kartinkinaden.ru/uploads/posts/2019-08/1565931736_art-enot-91.jpg" alt="person-photo" class="person-photo">
          <div class="about-person">
            <h4 class="name">Good fox2</h4>
            <div class="separator_small"></div>
            <p class="about-person-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae voluptates, asperiores aliquam quo corporis qui quam aut</p>   
          </div>
        </div>
                <div class="person">
          <img src="https://i.pinimg.com/736x/e1/aa/11/e1aa1199c9eeffa06c4b8f5f116e9838.jpg" alt="person-photo" class="person-photo">
          <div class="about-person">
            <h4 class="name">Lazy Worker3</h4>
            <div class="separator_small"></div>
            <p class="about-person-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae voluptates, asperiores aliquam quo corporis qui quam aut</p>   
          </div>
        </div>
                <div class="person">
          <img src="https://avatars.mds.yandex.net/get-pdb/1605014/1cb472b4-40cd-41e6-a7ab-b74e0ba13c73/s1200" alt="person-photo" class="person-photo">
          <div class="about-person">
            <h4 class="name">The best4</h4>
            <div class="separator_small"></div>
            <p class="about-person-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae voluptates, asperiores aliquam quo corporis qui quam aut</p>   
          </div>
        </div>
      </section>
    
    
    
    
<!--     
    
    ================================================ -->
    <section id="gallery" class="section-gallery">
      <div class="section-title">
        <h3 class="title">Gallery</h3>
          <div class="separator"></div>
        </div>
     <div class="gallery-container">
       <div class="gallery_img_block">
         <img src="https://voguemoda.ru/wp-content/uploads/2018/04/modniye-mujskiye-strijki-tendencii-foto-8.jpg" alt="galleryImg" class="gallery_img">
       </div>
              <div class="gallery_img_block">
         <img src="http://i.mycdn.me/i?r=AzEPZsRbOZEKgBhR0XGMT1Rkh7Lh1oKOJOjE0xNbY3haHKaKTM5SRkZCeTgDn6uOyic" alt="galleryImg" class="gallery_img">
       </div>
              <div class="gallery_img_block">
         <img src="https://avatars.mds.yandex.net/get-pdb/2295191/e3284eae-efb1-4aa9-a07d-b4c71d25fc02/s1200?webp=false" alt="galleryImg" class="gallery_img">
       </div>
              <div class="gallery_img_block">
         <img src="https://i.pinimg.com/originals/d8/4b/02/d84b0287de94533dd06fd4dbec2d1593.jpg" alt="galleryImg" class="gallery_img">
       </div>
              <div class="gallery_img_block">
         <img src="https://haircutsimages.org/wp-content/uploads/2020/02/Mens-Long-Undercut-Hairstyles-2020.jpg" alt="galleryImg" class="gallery_img">
       </div>
              <div class="gallery_img_block">
         <img src="https://ms1.relax.by/images/5da23058500fe4a6857e31cd0906d449/resize/w%3D1200%2Ch%3D800%2Cq%3D80%2Cwatermark%3Dtrue/place_gallery_photo/97/67/26/97672662a5737a64eda87aa82a8d54c8.jpg" alt="galleryImg" class="gallery_img">
       </div>
              <div class="gallery_img_block">
         <img src="https://moda-styl.ru/wp-content/uploads/2019/09/40-1.jpg" alt="galleryImg" class="gallery_img">
       </div>
                     <div class="gallery_img_block">
         <img src="https://voguemoda.ru/wp-content/uploads/2018/04/modniye-mujskiye-strijki-tendencii-foto-8.jpg" alt="galleryImg" class="gallery_img">
       </div>
     </div>
      <div class="popUp hide">

      </div>
      <button class="see-more-btn"><a href="/gallery" class="see-more">MORE</a></button>
      <div class="separator_big"></div>
    </section>

<!-- ======================== PRICES AND SERVICES ==================     -->
    
    <section id="services" class="services">
        <h3 class="title"> Services & Prices</h3>
      <div class="separator"></div>
      <div class="service-wrapper">
        <div class="prices-container">
          
          <div class="col-3-img">
            <h5 class="name-icon">Ben's</h5>
            <img src="https://image.flaticon.com/icons/svg/1995/1995584.svg" alt="" class="barber-icon" width="60%">
            <h5 class="barber-shop">Barber shop</h5>
          </div>
          
          <div class="text-col-wrapper">
            <div class="col-3">
            <div class="service-line">
                 <h4 class="service-name">
                  Gent's Hair Cut & Style
               </h4>
               <p class="price">£ 15.00</p>
            </div>  
            <div class="service-line">
                 <h4 class="service-name">
                  Hot  Towel Wet Shave
               </h4>
               <p class="price">£ 15.00</p>
            </div> 
            <div class="service-line">
                 <h4 class="service-name">
                  Beard Design & Shape Up
               </h4>
               <p class="price">£ 15.00</p>
            </div> 
            <div class="service-line">
                 <h4 class="service-name">
                  Skin Fade - Cut
               </h4>
               <p class="price">£ 18.00</p>
            </div> 
            <div class="service-line">
                 <h4 class="service-name">
                  Beard Trim
               </h4>
               <p class="price">£ 9.00</p>
            </div> 
          </div>
          
              <div class="col-3">
            <div class="service-line">
                 <h4 class="service-name">
                  Hot Towel Head Shave
               </h4>
               <p class="price">£ 15.00</p>
            </div>  
            <div class="service-line">
                 <h4 class="service-name">
                  Head Wash & Style
               </h4>
               <p class="price">£ 9.00</p>
            </div> 
            <div class="service-line">
                 <h4 class="service-name">
                  Gent's Hair Cut & Style
               </h4>
               <p class="price">£ 12.00</p>
            </div> 
            <div class="service-line">
                 <h4 class="service-name">
                  Gent's Hair Cut & Style
               </h4>
               <p class="price">£ 19.00</p>
            </div> 
            <div class="service-line">
                 <h4 class="service-name">
                  Gent's Hair Cut & Style
               </h4>
               <p class="price">£ 12.00</p>
            </div> 
          </div>
          </div>
          
          
          <div class="services-note">
            <h6 class="note">GIFT VOUCHERS AVAILIBLE <br> BOOKINGS AVAILABLE</h6>
          </div>
                  <p class="services-small-note">Please note that all Shaves & Hair cuts on Friday, Saturday and Bank Holidays are £15</p>
        </div>
      </div>
      <div id="footer" class="separator"></div>
    </section>
<!--     ================================ -->
    
    <footer  class="footer">
      <div class="footer-container">
        
        <div class="contact-details">
          
          <div class="opening-times footer-col-3">
            <h4 class="footer-titles">Opening Hours</h4> 
          <div class="footer-line">
            <p class="line-left-side">Mon - Fri: <span class="line-right-side">10:00 am - 18:00pm</span></p>
          </div>
          <div class="footer-line">
            <p class="line-left-side">Saturday:  <span class="line-right-side">10:00 am - 17:00pm</span></p>

          </div>
          <div class="footer-line">
            <p class="line-left-side">Sunday: <span class="line-right-side">10:00 am - 16:00pm</span></p>
          </div>
            <div class="separator"></div>
        </div>
          
           <div class="contacts footer-col-3">
            <h4 class="footer-titles title">Contacts</h4> 
          <div class="footer-line">
            <p class="line-left-side">Phone: <span class="line-right-side">123-123-123</span></p>
          </div>
          <div class="footer-line">
            <p class="line-left-side">E-mail: <span class="line-right-side">barberben@gmail.com</span></p>
             </div>
             <div class="separator"></div>
        </div>
          <div class="address footer-col-3">
            <h4 class="footer-titles"> Our Address</h4> 
          <div class="footer-line">
            <p class="address">112 High Street </p>
          </div>
          <div class="footer-line">
            <p class="post-code">Sittingbourne, ME10 5HT</p>
          </div>
                <div class="separator"></div>
        </div>
          
        </div>
        
        
        <div class="map col-2">
          <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155.7757244352012!2d0.7341379827410406!3d51.3403417084666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47df2ab40a06bf31%3A0x30a151c8873da40e!2s112%20High%20St%2C%20Sittingbourne%20ME10%204PL!5e0!3m2!1sen!2suk!4v1598926657558!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="footer-bottom">©2020 Ben's Barber Shop <br>
Website developed by zoom-05@mail.ru. <a href="#" class="policy">Privacy Policy</a></div>
      </div>
    </footer>
  </div>

<script type="module" src="/js/main.js"></script>
</body>
</html>